#masthead.site-header, #mega-menu-wrap ul li, #masthead .menu-other > li > a, #masthead.site-header .header-bottom .copyright {
    font-size: 14px;
    color: #373c40;
}

#masthead.site-header {
}

#masthead.site-header {
    border-bottom-style: solid;
}

.header-title .bg-image {
    background-color: #f5fafd;
    background-image: url('/images/Michele_Living_Dining_staged_corrected.jpg');
    background-size: cover;
}

.header-title {
    height: 450px;
    min-height: 450px;
}

.header-title::after {
    background-color: rgba(255, 255, 255, 0.6);
}

.header-title h1.page-title {
    font-size: 62px;
    color: #404044;
}

.header-title .subtitle {
    font-size: 18px;
    color: #5e646a;
}

.norebro-bar {
    background-color: #ffffff;
    color: #373c40;
}

.bar-hamburger {
    color: #373c40;
}

body .site-content {
    background-size: auto;
    background-position: center center;
    background-repeat: repeat;
}

#fullscreen-mega-menu .copyright, .fullscreen-navigation #secondary-menu li a, .fullscreen-navigation #secondary-menu li:hover > a.menu-link, .fullscreen-navigation #secondary-menu li div.sub-nav a, .fullscreen-navigation #secondary-menu li .sub-sub-menu a {
    color: #373c40;
}

.fullscreen-navigation .ion-ios-close-empty {
    color: #373c40;
}

footer.site-footer {
    background-color: #34373a;
    background-size: cover;
}

.site-footer .widget, .site-footer .widget p, .site-footer .widget .subtitle, .site-footer .widget a, .site-footer .widget .widget-title, .site-footer .widget a:hover, .site-footer .widget h3 a, .site-footer .widget h4 a, .site-footer .widgets .socialbar a.social.outline span, .site-footer .widgets input, .site-footer input:not([type="submit"]):hover, .site-footer .widget_recent_comments .comment-author-link, .site-footer .widgets input:focus, .site-footer .widget_norebro_widget_subscribe button.btn, .site-footer .widgets select, .site-footer .widget_tag_cloud .tagcloud a, .site-footer .widget_tag_cloud .tagcloud a:hover {
}

.site-footer .widget_norebro_widget_subscribe button.btn, .site-footer .widget_norebro_widget_subscribe button.btn:hover, .site-footer input:not([type="submit"]), .site-footer input:not([type="submit"]):focus, .site-footer .widgets .socialbar a.social.outline, .site-footer .widgets select, .site-footer .widget_tag_cloud .tagcloud a, .site-footer .widget_tag_cloud .tagcloud a:hover {
}

.site-footer .widget_norebro_widget_subscribe button.btn:hover, .site-footer .widgets .socialbar a.social.outline:hover {
}

footer.site-footer .site-info, footer.site-footer .site-info a, footer.site-footer .site-info a:hover {
    background-color: #34373a;
    color: #707479;
}

footer.site-footer .site-info a, footer.site-footer .site-info a:hover {
}

body, .font-main, .font-main a, p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #5e646a;
}

input, select, textarea, .accordion-box .buttons h5.title, .woocommerce div.product accordion-box.outline h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h3.second-title, h4, h5, .counter-box .count, .counter-box .counter-box-count, h1 a, h2 a, h3 a, h4 a, h5 a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #373c40;
}

.countdown-box .box-time .box-count, .chart-box-pie-content {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #373c40;
}

button, .btn, a.btn, input[type="submit"], .socialbar.boxed-fullwidth a .social-text, .breadcrumbs, .font-titles, h1, h2, h3, h4, h5, h6, .countdown-box .box-time .box-count, .counter-box .counter-box-count, .vc_row .vc-bg-side-text, .slider-vertical-numbers li, .slider-vertical-numbers > div, .slider-vertical-numbers > .owl-dot, .slider-vertical-dots li, .slider-vertical-dots > div, .slider-vertical-dots > .owl-dot, .socialbar.inline a, .socialbar.boxed a .social-text, .widget_calendar caption, .breadcrumbs, nav.pagination, #masthead .site-title, #masthead .site-title a, .header-search form input, #mega-menu-wrap > ul > li, #masthead .menu-other > li > a, #masthead .menu-other > li .submenu .sub-nav.languages li a, .fullscreen-navigation .languages, .portfolio-sorting li, .portfolio-item.grid-4 .more, .portfolio-item.grid-5 .more, .portfolio-grid-4 .scroll, .portfolio-grid-5 .scroll, .portfolio-grid-7 .scroll {
    font-family: 'Poppins', sans-serif;
}

.portfolio-item h4, .portfolio-item h4.title, .portfolio-item h4 a, .portfolio-item-2 h4, .portfolio-item-2 h4.title, .portfolio-item-2 h4 a, .woocommerce ul.products li.product a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #373c40;
    font-size: inherit;
    line-height: inherit;
}

.blog-item h3.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #373c40;
    line-height: initial;
}

.blog-item h3.title a {
    font-size: initial;
}

.portfolio-item-2 h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p.subtitle, .subtitle-font, a.category {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #718091;
}

span.category > a, div.category > a {
    font-family: 'Poppins', sans-serif;
    color: #718091;
}

.portfolio-item .subtitle-font, .woocommerce ul.products li.product .subtitle-font.category, .woocommerce ul.products li.product .subtitle-font.category > a {
    font-family: 'Poppins', sans-serif;
    color: #718091;
    font-size: inherit;
    line-height: inherit;
}

input.classic::-webkit-input-placeholder, .contact-form.classic input::-webkit-input-placeholder, .contact-form.classic textarea::-webkit-input-placeholder, input.classic::-moz-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #718091;
}

.contact-form.classic input::-moz-placeholder, .contact-form.classic textarea::-moz-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #718091;
}

input.classic:-ms-input-placeholder, .contact-form.classic input:-ms-input-placeholder, .contact-form.classic textarea:-ms-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #718091;
}

.accordion-box .title:hover .control, .accordion-box .item.active .control, .accordion-box.title-brand-color .title, .accordion-box.active-brand-color .item.active .control, .accordion-box.active-brand-color .title:hover .control, .slider .owl-dot.brand, .socialbar.brand a:hover, .socialbar.brand.outline a, .socialbar.brand.flat a, .socialbar.brand.inline a:hover, .video-module .btn-play.outline.btn-brand, .video-module.boxed:hover .btn-play.btn-brand, .widget_tag_cloud .tagcloud a:hover, .widget_product_tag_cloud .tagcloud a:hover, .widget_nav_menu .menu-item a:hover, .widget_pages .menu-item a:hover, .widget_nav_menu .current-menu-item a, .widget_pages .current-menu-item a, .widget-sidebar-menu-left .menu-item a:hover, .widget_rss ul a, .widget_norebro_widget_recent_posts ul.recent-posts-list h4 a:hover, .widget_norebro_widget_login a, .widget div.star-rating:before, .widget div.star-rating span:before, .widget span.star-rating:before, .widget span.star-rating span:before, a:hover, p a, .btn-brand:hover, .btn-outline.btn-brand, a.btn-outline.btn-brand, .btn-outline.btn-brand.disabled:hover, a.btn-outline.btn-brand.disabled:hover, .btn-link.btn-brand, a.btn-link.btn-brand, a.tag:hover, .tag-wrap a:hover, a[class^="tag-link-"]:hover, nav.pagination li a.page-numbers.active, .fullscreen-navigation .copyright .content > a, .fullscreen-navigation.simple ul.menu li:hover > a, .fullscreen-navigation.centered .fullscreen-menu-wrap ul.menu > li a:hover, .post-navigation .box-wrap > a:hover h4, .post-navigation .box-wrap > a:hover .icon, .bar .content a:hover, .bar .share .links a:hover, .portfolio-sorting li a:hover, .portfolio-item h4.title a:hover, .portfolio-item .widget h4 a:hover, .widget .portfolio-item h4 a:hover, .portfolio-item .category.outline, .portfolio-item.grid-2:hover h4.title, .portfolio-item.grid-2:hover .widget h4, .widget .portfolio-item.grid-2:hover h4, .portfolio-item.grid-2.hover-2 .overlay span, .portfolio-item.grid-5 .more span, .blog-grid .tags a:hover, .blog-grid:hover h3 a, .blog-grid.grid-4:hover .tags a, .post .entry-content a, .page-links a, .entry-footer .share .title:hover, .toggle-post:hover .arrow, .toggle-post:hover .content h3, .post .comments-link a:hover, .comments-area .comment-body .comment-meta .reply a, .comments-area .comment-body .comment-meta a.comment-edit-link, .comments-area .reply a, .comments-area .reply-cancle a, .comments-area a.comment-edit-link, input.brand-color, input[type="submit"].brand-color, button.brand-color, a.brand-color, div.brand-color, span.brand-color, input.brand-color-hover:hover, input[type="submit"].brand-color-hover:hover, button.brand-color-hover:hover, a.brand-color-hover:hover, div.brand-color-hover:hover, span.brand-color-hover:hover, .brand-color, .brand-color-after:after, .brand-color-before:before, .brand-color-hover:hover, .brand-color-hover-after:after, .brand-color-hover-before:before, .woocommerce .product div.summary .woo-review-link:hover, .woocommerce .product .product_meta a, ul.woo-products li.product:hover h3 a, .woocommerce form.login a, .woocommerce #payment li.wc_payment_method a.about_paypal, .woocommerce .woo-my-nav li.is-active a, .woocommerce .woo-my-content p a:hover {
    color: #f3b435;
}

.video-module.btn-brand-color-hover:hover .btn-play .icon, .brand-color-i, .brand-color-after-i:after, .brand-color-before-i:before, .brand-color-hover-i:hover, .brand-color-hover-i-after:after, .brand-color-hover-i-before:before {
    color: #f3b435 !important;
}

.accordion-box.outline.title-brand-border-color .title, .contact-form.without-label-offset .focus.active, .contact-form.flat input:not([type="submit"]):focus, .contact-form.flat select:focus, .contact-form.flat textarea:focus, .socialbar.brand a, .video-module .btn-play.btn-brand, .widget_tag_cloud .tagcloud a:hover, .widget_product_tag_cloud .tagcloud a:hover, .widget_calendar tbody tr td#today, .btn-brand, .btn-outline.btn-brand, a.btn-outline.btn-brand, .btn-outline.btn-brand:hover, a.btn-outline.btn-brand:hover, .btn-outline.btn-brand.disabled:hover, a.btn-outline.btn-brand.disabled:hover, input:not([type="submit"]):focus, textarea:focus, select:focus, a.tag:hover, .tag-wrap a:hover, a[class^="tag-link-"]:hover, .portfolio-gallery .gallery-content .tag, .header-search form input:focus, .fullscreen-navigation.simple ul.menu li:hover > a:after, .fullscreen-navigation.simple ul.menu li:hover > a:before, .portfolio-item .category.outline, .portfolio-page.fullscreen .content .tag, .portfolio-page.portfolio-header-title.invert .tag, .entry-footer .share .title:hover, input.brand-border-color, input[type="submit"].brand-border-color, button.brand-border-color, a.brand-border-color, div.brand-border-color, span.brand-border-color, input.brand-border-color-hover:hover, input[type="submit"].brand-border-color-hover:hover, button.brand-border-color-hover:hover, a.brand-border-color-hover:hover, div.brand-border-color-hover:hover, span.brand-border-color-hover:hover, .brand-border-color, .brand-border-color-after:after, .brand-border-color-before:before, .brand-border-color-hover:hover, .brand-border-color-hover-after:after, .brand-border-color-hover-before:before {
    border-color: #f3b435;
}

.brand-border-color-i, .brand-border-color-after-i:after, .brand-border-color-before-i:before, .brand-border-color-hover-i:hover, .brand-border-color-hover-i-after:after, .brand-border-color-hover-i-before:before {
    border-color: #f3b435 !important;
}

.divider, h1.with-divider:after, h2.with-divider:after, h3.with-divider:after, h4.with-divider:after, h5.with-divider:after, h6.with-divider:after, .accordion-box.title-brand-bg-color .title, .list-box li:after, .widget_recent_comments li:after, .widget_recent_entries li:after, .widget_meta li:after, .widget_archive li:after, .widget_nav_menu li:after, .widget_pages li:after, .widget_categories li:after, .widget_rss li:after, .widget_product_categories li:after, .list-box.icon-fill li .icon, .icon-fill.widget_recent_comments li .icon, .icon-fill.widget_recent_entries li .icon, .icon-fill.widget_meta li .icon, .icon-fill.widget_archive li .icon, .icon-fill.widget_nav_menu li .icon, .icon-fill.widget_pages li .icon, .icon-fill.widget_categories li .icon, .icon-fill.widget_rss li .icon, .icon-fill.widget_product_categories li .icon, .socialbar.brand a, .socialbar.brand.outline a:hover, .socialbar.brand.flat a:hover, .video-module .btn-play.btn-brand, .video-module.boxed:hover .btn-play.outline.btn-brand, .widget_calendar caption, .widget_price_filter .ui-slider-range, .widget_price_filter .ui-slider-handle:after, a.hover-underline.underline-brand:before, .btn-brand, button[disabled].btn-brand:hover, input[type="submit"][disabled].btn-brand:hover, .btn-outline.btn-brand:hover, a.btn-outline.btn-brand:hover, .radio input:checked + .input:after, .radio:hover input:checked + .input:after, .portfolio-gallery .gallery-content .tag, nav.pagination li a.hover-underline:before, .portfolio-sorting li a:hover .name:before, .portfolio-item .category, .portfolio-page.fullscreen .content .tag, .portfolio-page.portfolio-header-title.invert .tag, input.brand-bg-color, input[type="submit"].brand-bg-color, button.brand-bg-color, a.brand-bg-color, div.brand-bg-color, span.brand-bg-color, input.brand-bg-color-hover:hover, input[type="submit"].brand-bg-color-hover:hover, button.brand-bg-color-hover:hover, a.brand-bg-color-hover:hover, div.brand-bg-color-hover:hover, span.brand-bg-color-hover:hover, .brand-bg-color, .brand-bg-color-after:after, .brand-bg-color-before:before, .brand-bg-color-hover:hover, .brand-bg-color-hover-after:after, .brand-bg-color-hover-before:before, .woocommerce .product .product_meta > span:after, .select2-dropdown .select2-results__option[aria-selected="true"], .woocommerce .woo-my-content mark {
    background-color: #f3b435;
}

.brand-bg-color-i, .brand-bg-color-after-i:after, .brand-bg-color-before-i:before, .brand-bg-color-hover-i:hover, .brand-bg-color-hover-i-after:after, .brand-bg-color-hover-i-before:before {
    background-color: #f3b435 !important;
}

@media screen and (min-width: 768px) {
    /* First column decorate block */
    .header-title-row .vc_column_container .vc_column-inner:before {
        content: '';
        display: block;
        position: absolute;
        width: 350px;
        height: 100%;
        background: inherit;
        top: 0;
        left: 100%;
    }

    /* Header slider decorate block */
    .header-title-row .slider:before {
        content: '';
        background: rgba(0, 0, 0, .04);
        width: 500px;
        height: 100%;
        position: absolute;
        top: 15px;
        left: -0px;
    }

    .nor-top-layer {
        z-index: 2;
        position: relative;
    }

    .nor-slider-wrap {
        margin-top: 140px;
        margin-bottom: -140px;
    }

    .creative-decoration {
        position: relative !important;
        right: 233px;
    }

    .creative-decoration .wpb_wrapper {
        width: 565px !important;
    }

    .creative-decoration:before {
        content: '';
        background: rgba(0, 0, 0, .05);
        width: 510px;
        height: 100%;
        position: absolute;
        left: 0px;
        top: -15px;
    }

    .blog-grid.grid-2 header {
        width: 300px;
    }

    .blog-grid.grid-2 .content {
        padding: 0 0 0 330px;
    }

    .clients-logo.default {
        text-align: left;
    }

    .nrb-recent-projects {
        margin-bottom: -150px;
    }
}
// sss
#norebro-custom-5e75fd3f5a2f5 h1 {
    color: #404044;
    font-size: 62px;
    line-height: 82px;
    font-weight: 600;
}

#norebro-custom-5e75fd3f5a2f5 p.subtitle {
    color: #373c40;
    font-size: 18px;
    font-weight: 100;
}

#norebro-custom-5e75fd3f5ad72 .btn {
    color: #fff;
    background-color: #f3b435;
    border-color: #f3b435;
}

#norebro-custom-5e75fd3f5ad72 .btn:hover {
    border-color: #f3b435;
    color: #f3b435;
    background-color: #fff;
    font-weight: 500;
}

#norebro-custom-5e75fd3f5d82e {
    color: #ebeff4;
    font-size: 80px;
    letter-spacing: -1px;
    font-weight: 600;
}

#norebro-custom-5e75fd3f6036a h2 {
    font-size: 38px;
    font-weight: 600;
}

#norebro-custom-5e75fd3f6036a p.subtitle {
    color: #373c40;
    font-size: 18px;
}

#norebro-custom-5e75fd3f61b27 p.subtitle {
    color: #5e646a;
    font-size: 18px;
}

#norebro-custom-5e75fd3f6258f p.subtitle {
    color: #5e646a;
    font-size: 18px;
}

#norebro-custom-5e75fd3f63b2b h2 {
    color: #404044;
    font-size: 38px;
    font-weight: 600;
}

#norebro-custom-5e75fd3f68c0b .number {
    color: rgba(0, 0, 0, 0.04);
    font-size: 102px;
}

#norebro-custom-5e75fd3f68c0b h3 {
    color: #404044;
    font-size: 32px;
}

#norebro-custom-5e75fd3f68c0b .description {
    font-size: 16px;
}

#norebro-custom-5e75fd3f69c14, #norebro-custom-5e75fd3f69c14 > * {
    font-size: 16px;
    line-height: 28px;
}

#norebro-custom-5e75fd3f6c095 .number {
    color: rgba(0, 0, 0, 0.04);
    font-size: 102px;
}

#norebro-custom-5e75fd3f6c095 h3 {
    color: #404044;
    font-size: 32px;
}

#norebro-custom-5e75fd3f6c095 .description {
    font-size: 16px;
}

#norebro-custom-5e75fd3f6c64e, #norebro-custom-5e75fd3f6c64e > * {
    font-size: 16px;
    line-height: 28px;
}

#norebro-custom-5e75fd3f74e3f .number {
    color: rgba(0, 0, 0, 0.04);
    font-size: 102px;
}

#norebro-custom-5e75fd3f74e3f h3 {
    color: #404044;
    font-size: 32px;
}

#norebro-custom-5e75fd3f74e3f .description {
    font-size: 16px;
}

#norebro-custom-5e75fd3f753b7, #norebro-custom-5e75fd3f753b7 > * {
    font-size: 16px;
    line-height: 28px;
}

#norebro-custom-5e75fd3f77b3a .number {
    color: rgba(0, 0, 0, 0.04);
    font-size: 102px;
}

#norebro-custom-5e75fd3f77b3a h3 {
    color: #404044;
    font-size: 32px;
}

#norebro-custom-5e75fd3f77b3a .description {
    font-size: 16px;
}

#norebro-custom-5e75fd3f780e6, #norebro-custom-5e75fd3f780e6 > * {
    font-size: 16px;
    line-height: 28px;
}

#norebro-custom-5e75fd3f7feca {
    color: #ebeff4;
    font-size: 80px;
    letter-spacing: -1px;
    font-weight: 600;
}

#norebro-custom-5e75fd3f81a29 h3 {
    color: #404044;
    font-size: 36px;
    line-height: 58px;
    font-weight: 600;
}

#norebro-custom-5e75fd3f8d562 div.portfolio-item-wrap {
    padding: 15px;
}

#norebro-custom-5e75fd3f8d562 div.vc_row {
    margin: -15px;
}

#norebro-custom-5e75fd3f8d562 .portfolio-item .category {
    color: #ffffff;
}

#norebro-custom-5e75fd3f8d562 .portfolio-item h4, #norebro-custom-5e75fd3f8d562 .portfolio-item h4 a {
    color: #555555;
}

#norebro-custom-5e75fd3fe3785 .btn {
    width: 163.59px;
    padding: 20px;
    background-color: #f3b435;
    border-color: #f3b435;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}

#norebro-custom-5e75fd3fe3785 .btn:hover {
    border-color: #f3b435;
    background-color: #ffffff;
    color: #f3b435;
}

#norebro-custom-5e75fd3fe455f {
    color: #f1f4f8;
    font-size: 80px;
    letter-spacing: -1px;
    font-weight: 600;
}

#norebro-custom-5e75fd3fedad4 h3 {
    font-size: 36px;
    font-weight: 600;
}

#norebro-custom-5e75fd4005911 h3 {
    color: #404044;
    font-size: 32px;
    line-height: 50px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

#norebro-custom-5e75fd4005911 p.subtitle {
    color: #718091;
    margin-top: 0px;
    margin-bottom: 0px;
}

#norebro-custom-5e75fd4005d48 {
    margin: 0 -7.5px;
}

#norebro-custom-5e75fd4005d48 > .owl-stage-outer > .owl-stage > .owl-item {
    padding-left: 15px;
    padding-right: 15px;
}

#norebro-custom-5e75fd4005d48 > .owl-dots > .owl-dot.active, #norebro-custom-5e75fd4005d48 > .owl-dots > .owl-dot:hover {
    border-color: #373c40;
}

#norebro-custom-5e75fd4005d48 .owl-dot:after {
    background-color: #373c40;
}

#norebro-custom-5e75fd4007b9a blockquote {
    color: #5e646a;
    font-size: 12px;
    line-height: 18px;
}

#norebro-custom-5e75fd4007b9a h4.title {
    color: #5e646a;
}

#norebro-custom-5e75fd4008bcb .btn {
    border-color: #f3b435;
    color: #f3b435;
    color: #f3b435;
    font-weight: 500;
}

#norebro-custom-5e75fd4008bcb .btn:hover {
    color: #fff;
    background-color: #f3b435;
    border-color: #f3b435;
    color: #ffffff;
}

#norebro-custom-5e75fd40099f7 blockquote {
    color: #5e646a;
    font-size: 12px;
    line-height: 20px;
}

#norebro-custom-5e75fd40099f7 h4.title {
    color: #5e646a;
}

#norebro-custom-5e75fd400a130 .btn {
    border-color: #f3b435;
    color: #f3b435;
    color: #f3b435;
    font-weight: 500;
}

#norebro-custom-5e75fd400a130 .btn:hover {
    color: #fff;
    background-color: #f3b435;
    border-color: #f3b435;
    color: #ffffff;
}

#norebro-custom-5e75fd400aee0 blockquote {
    color: #5e646a;
    font-size: 12px;
    line-height: 20px;
}

#norebro-custom-5e75fd400aee0 h4.title {
    color: #5e646a;
}

#norebro-custom-5e75fd400b588 .btn {
    border-color: #f3b435;
    color: #f3b435;
    color: #f3b435;
    font-weight: 500;
}

#norebro-custom-5e75fd400b588 .btn:hover {
    color: #fff;
    background-color: #f3b435;
    border-color: #f3b435;
    color: #ffffff;
}

#norebro-custom-5e75fd400bfec blockquote {
    color: #5e646a;
    font-size: 12px;
    line-height: 20px;
}

#norebro-custom-5e75fd400bfec h4.title {
    color: #5e646a;
}

#norebro-custom-5e75fd400c6f6 .btn {
    border-color: #f3b435;
    color: #f3b435;
    color: #f3b435;
    font-weight: 500;
}

#norebro-custom-5e75fd400c6f6 .btn:hover {
    color: #fff;
    background-color: #f3b435;
    border-color: #f3b435;
    color: #ffffff;
}

#norebro-custom-5e75fd400d4fc blockquote {
    color: #5e646a;
    font-size: 12px;
    line-height: 20px;
}

#norebro-custom-5e75fd400d4fc h4.title {
    color: #5e646a;
}

#norebro-custom-5e75fd400dc12 .btn {
    border-color: #f3b435;
    color: #f3b435;
    color: #f3b435;
    font-weight: 500;
}

#norebro-custom-5e75fd400dc12 .btn:hover {
    color: #fff;
    background-color: #f3b435;
    border-color: #f3b435;
    color: #ffffff;
}

#norebro-custom-5e75fd400f998 {
    color: #ebeff4;
    font-size: 80px;
    letter-spacing: -1px;
    font-weight: 600;
}

#norebro-custom-5e75fd40106a6 h3 {
    color: #404044;
    font-size: 32px;
    line-height: 58px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

#norebro-custom-5e75fd40106a6 p.subtitle {
    color: #718091;
    margin-top: 0px;
    margin-bottom: 0px;
}

#norebro-custom-5e75fd4010b00 input:not([type='submit']), #norebro-custom-5e75fd4010b00 textarea, #norebro-custom-5e75fd4010b00 select {
    color: #5e646a;
}

#norebro-custom-5e75fd4010b00 input::-webkit-input-placeholder, #norebro-custom-5e75fd4010b00 textarea::-webkit-input-placeholder {
    color: #5e646a;
}

#norebro-custom-5e75fd4010b00 input::-moz-input-placeholder, #norebro-custom-5e75fd4010b00 textarea::-moz-input-placeholder {
    color: #5e646a;
}

#norebro-custom-5e75fd4010b00 input::-ms-input-placeholder, #norebro-custom-5e75fd4010b00 textarea::-ms-input-placeholder {
    color: #5e646a;
}

#norebro-custom-5e75fd4010b00 input::-moz-placeholder, #norebro-custom-5e75fd4010b00 textarea::-moz-placeholder {
    color: #5e646a;
}

#norebro-custom-5e75fd4010b00 input:focus, #norebro-custom-5e75fd4010b00 .focus.active, #norebro-custom-5e75fd4010b00 textarea:focus {
    border-color: #5e646a;
}

#norebro-custom-5e75fd4010b00 button.btn {
    border-color: #f3b435;
    color: #f3b435;
    color: #f3b435;
}

#norebro-custom-5e75fd4010b00 button.btn:hover {
    background: #f3b435;
    background: #f3b435;
    border-color: #f3b435;
    color: #fff;
    color: #ffffff !important;
}

#norebro-custom-5e75fd4010b00 label {
    padding-top: 20px;
    padding-right: 20px;
}

#norebro-custom-5e75fd4016d9a {
    height: 100%;
    position: relative;
}

#norebro-custom-5e75fd4005d48 blockquote {
    font-size: 12px;
}

#norebro-custom-5e75fd4005d48 .slider-wrap__img {
    float: left;
    background: url(https://www.spotlessagency.com/wp-content/uploads/2018/06/PatternGrey-.png) -80% 0 repeat-y;
    padding: 20px 20px 20px 0px;
}

.slider-wrap .testimonials {
    padding: 0;
}

.slider-wrap .slider {
    padding: 0;
}

// .slider .owl-prev {
//     display: none;
// }

// .slider .owl-next {f
//     display: none;
// }

.slider-wrap .owl__block--title {
    display: block;
    font-size: 30px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    color: #404044;
    line-height: 35px;
    margin-bottom: 24px;

}

.slider-wrap .owl__block {
    padding: 28px 40px 0px;
    text-align: left;
    font-family: Poppins,sans-serif;
}

#norebro-custom-5e75fd4005d48 .slider-wrap .slider-wrap__img {
    box-sizing: content-box;
    width: 648px;
    height: 410px;
}

.slider-wrap .owl__block--slider {
    display: flex;
    align-items: end;
}

.slider-wrap .owl__block--subtitle {
    font-size: 26px;
    margin-bottom: 1px;
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #5E646A;
}

.slider-wrap .owl__block--description {
    display: block;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
    color: #5E646A;
}

.slider-wrap .owl__block--full-description {
    display: block;
    font-size: 18px;
    margin-bottom: 40px;
    color: #5E646A;
    font-weight: 400;
    line-height: 25px;
}

#norebro-custom-5e75fd4005d48 > .owl-dots {
    margin-top: 0;
}

.owl__slider--title {
    position: relative;
    display: block;
    color: #404044;
    font-size: 30px;
    padding: 32px 0 45px;
    text-align: left;
    font-family: Poppins,sans-serif, medium;
    font-weight: 500;

}

.slider-wrap .owl__slider--number {
    color: rgba(0,0,0,.04);
    font: 700 100px Poppins,sans-serif;
    position: absolute;
    line-height: 1;
    top: -4px;
    left: 0;
    z-index: -1;
}

.owl__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
}

.owl__slider--full-description {
    width: 80%;
    display: block;
    text-align: left;
    font-size: 18px;
}

.pricing_main_img {
    margin-bottom: 115px;
}

#pricing-table .pricing-table .btn {
    color: #fff;
    background-color: #f3b435;
    border-color: #f3b435;

    &:hover {
        border-color: #f3b435;
        color: #f3b435;
        background-color: #fff;
        font-weight: 500;
    }
}

.owl__second, .owl__first{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 12px;

    .owl-prev, .owl-next{
        background-color: #f3b435;
        color: #fff;
        font-size: 35px;
        padding: 10px 20px;
        margin: 0 5px;
        border: 1px solid #f3b435;
        cursor: pointer;

        &:hover {
            background-color: #ffffff;
            color: #f3b435;
        }
    }
}

#masthead .header-wrap.page-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .right {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.new-tab-links {
    display: flex;

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#page-scroll-top {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.title_pricing {
    display: block;
    margin: 15px 0 50px;
    text-align: center;
}

@media (max-width: 1080px) {
    // first slider
    #norebro-custom-5e75fd4007b9a .slider-wrap .slider-wrap__img {
        width: 65%;
        height: 50%;
    }

    .owl__block--first .owl__slider{
        padding: 28px 0px 0;
        width: 67%;
    }

    .owl__block--first .vc_empty_space {
        height: 40px !important;
    }

    .owl__block--first .owl-height {
        height: 700px !important;
    }

    // second slider
    .slider-wrap--second .owl-stage-outer {
        height: 744px !important;
    }

    .slider-wrap--second + .vc_empty_space{
        height: 20px !important;
    }

    .slider-wrap--second #norebro-custom-5e75fd4005d48 .owl-dots{
        margin: 20px 0px;
    }

    #norebro-custom-5e75fd4005d48 .slider-wrap .slider-wrap__img {
        width: 65%;
        height: 50%;
    }

    .slider-wrap--second .owl__block {
        padding: 28px 0px 0;
        width: 67%;
    }

    .slider-wrap .owl__block--slider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // footer
    #colophon.footer {
        .widgets-column:first-child {
            display: none;
        }

        .widgets-column {
            width: 50%;
        }
    }
}

@media (max-width: 992px) {
    #colophon.footer {
        .widgets-column:first-child {
            display: none;
        }

        .widgets-column {
            width: 50%;
        }
    }
}

@media (max-width: 768px) {
    #pricing-table.vc_row.vc_row-flex {
        display: flex;
    }

    #pricing-table .pricing-table {
        width: 65%;
        display: block;
        margin: 0 auto;
    }

    #norebro-custom-5e8a28437fb15::before {
        position: absolute;
        content: 'Best Seller';
        display: flex;
        justify-content: center;
        align-items: center;
        top: 520px;
        right: 0;
        width: 100px;
        height: 100px;
        color: #ffffff;
        border-radius: 50%;
        background: #f3b435;
        z-index: 100;
    }

    .best-seller::before {
        display: none;
    }

    #our-clients {
        .vc_inner {
            display: flex;
        }

        .client {
            width: 50%;
        }
    }

    .owl__block--first .owl-height {
        height: 720px !important;
    }

    .staging__tablet {
        display: none;
    }

    header#masthead.site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header#masthead.site-header .header-wrap {
        width: 100%;
    }

    header#masthead.site-header .site-branding {
        width: 100%;
        max-width: 100%;
    }

    .map {
        width: 100%;
    }

    #colophon.footer .widgets-column {
        width: 100%;
    }
}


@media (max-width: 468px) {
    #norebro-custom-5e75fd4005d48 .slider-wrap .slider-wrap__img,
    #our-clients .client,
    .owl__block--first .owl__slider,
    #pricing-table .pricing-table {
        width: 100%;
        height: 30%;
    }

    .slider-wrap--second .owl-stage-outer {
        height: 865px !important;
    }

    .owl__block--first .owl-height {
        height: 670px !important;
    }
}


@media (max-width: 375px) {
    .slider-wrap--second .owl__block {
        width: 100%;
    }

    .slider-wrap--second .owl-stage-outer {
        height: 740px !important;
    }
}
